In [49]:
nama="rahman"
print(nama)
print(1)

rahman
[]

In [21]:
# integers
print(1)
print(3)

# string
"maman"
print("maman" + "hasri")

umur = 26
# variable assignment
nama = "wika"
# nama = umur
pi = 3.14

type(nama)

1
3
mamanhasri

str

In [30]:
# operator expression
print(8*8)
a7x = 64/4
100 ** 2
99 - 12

64

87

In [37]:
# comparison operator
# cek_lebih_besar == snake case
# camelCase
# PascalCase

a='toni'
b='maman'
# print(a == 'toni')

status = False
status = True

print(status == False)
print(True == False)

False
False

In [84]:
# String manipulation
nama = 'rahman hasri'
print('nama saya ' + nama)

# builtin methods
nama.upper()
'Joseph'.lower()
'TOni'.swapcase()

# dir(str)

# In operator
# print('hasri' in nama)

nama saya rahman hasri

'toNI'

In [85]:
# List
l = [4, 6, 2, 1]
# 0 1 2 3
# print(l[2])
# print(len(l)) # length
len(l)

# index property
l[3] # get order dari sebelah kiri

l[-3] # get order dari sebelah kanan
l[1:3] # get order from 1 until before 3
l[2:] # get order list from 2 until length

l[:3] # 

# mutable (manipulasi)
l.append(9) # menambahkan isi di belakang
l[-2] = 5 # menggannti value di n index
l[0] = 0

del l[2]

l.sort() # sort
# comment
# help(list.extend) # cari tau deskripsi dari suatu built in methods dari type data

l.extend([2, 3])

max(l) # special methods buat list atau tipe data lain
min(l)

# l.append([1, 2]) # nested
# ll = [[1, 2], [2, 2]]

# packing unpacking
[nol, lima, enam] = [0, 5, 6]
enam

6

In [88]:
l = [1, 2, 3]
l2 = [3, 4, 5]
l.extend(l2)
a = 'Maman'

l3 = [True, 1, a]
l3

[True, 1, 'Maman']

In [95]:
# Tuples
t = (2, 3, 4, False)
t
t[-1]
t[:2]
(dua, tiga, empat, salah) = t
print(dua, tiga, empat, salah, sep='+')

2+3+4+False

In [108]:
# Dictionary
d = { 'nama': 'Rafi', 'umur': 20 }
# key : value pair
d['nama']
d['umur']

d['hobi'] = 'running'
del d['hobi'] # deletion
d['data'] = [1945, 8, 17]
print(f" {d['data'][-1]}" + ' adalah tanggal kemerdekaan')

print(d.values())
print(d.items())
print(d.keys())

 17 adalah tanggal kemerdekaan
dict_values(['Rafi', 20, [1945, 8, 17]])
dict_items([('nama', 'Rafi'), ('umur', 20), ('data', [1945, 8, 17])])
dict_keys(['nama', 'umur', 'data'])