In [ ]:
# # Conditional
# # !date
# # print('halo thursday')
# [1, 2, 3] # mutable
# (1, 2, 3) # immmutable
# { 'nama': 'rahman' }
# list('rahman')
# if 'o' in 'rahman':
#     print('ada')
# else:
#     print('tidak ada')

if 'r' in 'rahman':
    print('1')
    print('2')
    print('3')
    print('didalam scope/block if')
else:
    print('tidak ada')

print('diluar scope/block')

1
2
3
didalam scope if

In [ ]:
age = 20
angka10 = 10

if age < 20:
    print('masih remaja')
elif age >= 20:
    print('sudah beranjak dewasa')

if 1 == 2:
    print('1 sama dengan 2')
elif 1 == 1:
    print('1 sama dengan 1')

sudah beranjak dewasa
1 sama dengan 1

In [ ]:
age = 20
angka = 10
if age == angka10:
    print(angka10, 'sama dengan 20')
elif age == 20:
    print('20')


if age:
    print('umur', age)
if age > 0:
    print('lebih dari 0')
if type(age) == 'int':
    print('integer')

20
umur 20
lebih dari 0

In [ ]:
# one line if statement

if 'r' in 'rahman': print('1'); print('2'); print('3')

role = 'murid'
nama = 'rahman' if role == 'instructor' else 'murid'

print('yes' if (3 in [3, 4, 5, 6]) else 'no')

if role == 'instructor':
    print('instructor')
elif 'murid':
    print('murid')

1
2
3
yes
murid

In [ ]:
# syntax pass
# control flow
if 1 > 0:
    pass
elif 1 == 1:
    print('sini')

print('masuk')

sini
masuk

In [ ]:
# looping

n = 5
while n > 0: # 5 print n, 4 > 0, 0 > 0
    print(n)
    # n = n - 1
    n -= 1 # cek lagi dikondisi while

while n < 1:
    n -= 1
    print(n)
    if n == -2:
        print('selesai')
        break

5
4
3
2
1
-1

In [ ]:
# continue
a = 0
while a < 5:
    a += 1
    if a == 2:
        continue # next looping
    print(a)
print('loop ended')


while a > 2:
    a -= 1 # a = a - 1
    print(a)
    if a == 3:
        break
else:
    print('loop done')

while True:
    print('infinite loop')

In [ ]:
# nested condition
# if 1 > 0:
    # if 'w' in 'wika':
    #     if 's' in 'siti':
    #         print('kondisi s in siti')
    #     elif 'r' in 'rafi':
    #         print('kondisi r in rafi')

# if True:
#     if 'w' in 'wika':
#         # ....

if True:
    if True:
        if True:
            print('kondisi s in siti')
        # elif 'r' in 'rafi':
        #     print('kondisi r in rafi')
        if 'r' in 'rafi':
            print('r ada di rafi')

kondisi s in siti
r ada di rafi

In [ ]:
# for looping

# 1. initialisasi
# 2. ending conditional
# 3. statement after each iteration

# for (i = 0; i <= 5; i++)
#     print('iterasi', i)

# looping list
# l = [1, 2, 3]
# for i in l:
#     print(i)

# looping angka
# for i in range(10):
#     print(i)

orang = { 'nama': 'rahman', 'gender': 'pria' }
# print(orang.keys())
# looping dictionary
# for i in orang.values():
#     print(i)

for key, value in orang.items():
    print(key, ':', value)

nama : rahman
gender : pria

In [ ]:
n = 0
for i in ['fadlil', 'toni', 'jo']:
    n += 1
    print(n)
    if i == 'jo':
        print(i)
        break
    print('loop iteration')

1
loop iteration
2
loop iteration
3
jo

In [ ]:
# for else 

for i in range(5):
    print(i)
    # break
else:
    print('done')

0

In [ ]:
nama = input('masukkan nama: ')

print('hello ', nama)

masukkan nama: vincent
hello  vincent

In [ ]:
d = { 'balance': 1000, 'account': 'rahman' }
barang = { 'nama': 'sepatu', 'harga': 1100 }
if d['balance'] > 0:
    if d['balance'] > barang['harga']:
        print('terima kasih sudah berbelanja')
    else:
        print('saldo belum cukup')
else:
    print('silakan isi saldo')

saldo belum cukup

In [ ]:
hackerrank.com
codewars.com

In [2]:
angka = 4

if (angka % 2 == 0):
    print('angka genap')
    if angka / 4 == 1:
        print('angka 4')
    elif angka / 2 == 1:
        print('angka 2')
    else:
        print('angka genap yang lain')
else:
    print('angka ganjil')

angka genap
angka 4